name: Java Build/Test

on:
  push:
    branches: ['main']
    paths-ignore:
        - '**/README.md'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
          cache: maven
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
